/* 青 */
.u-color-blue {
  color: #acd3e2;
}

.u-bg-blue {
  background-color: #acd3e2;
}

/* 緑 */
.u-color-green {
  color: #91b493;
}

.u-bg-green {
  background-color: #91b493;
}

/* 赤 */
.u-color-red {
  color: #d9c6c6;
}

.u-bg-red {
  background-color: #d9c6c6;
}

/* 白 */
.co-white {
  color: #fff;
}

/* 灰色 */
.co-gray {
  color: #575757;
}
